# Игнорируем все файлы с расширением .log
*.log

# Игнорируем директорию node_modules (для проектов на Node.js)
node_modules/

# Игнорируем директорию build (для проектов с созданием билда)
build/

# Игнорируем файлы настроек IDE
.vscode/
.idea/

# Игнорируем файлы OS (например, файлы macOS)
.DS_Store
Thumbs.db
